<html>
  <head>
    <%= render partial: "layouts/head" %>
  </head>
  <body>
    <div class="home-banner">
      <nav class="navbar navbar-default navbar-home">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to 'HOUSINGLIST', routes.root_path, class: "navbar-brand" %>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <%# -- non mobile version -- %>
                <li class="navbar-sm">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle navbar-link navbar-avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <%= image 'avatar.jpg' %>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to 'Profile', routes.edit_profile_path %>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li>
                        <%=
                          form_for :user, routes.user_sign_out_path, method: :delete do
                            submit 'Log out', class: 'btn btn-link navbar-logout-btn'
                          end
                        %>
                      </li>
                    </ul>
                  </li>
                </li>

                <%# -- mobile version --%>
                <li class="navbar-xs">
                  <%= link_to 'Profile', routes.edit_profile_path %>
                </li>
                <li class="navbar-xs">
                  <%=
                    form_for :user, routes.user_sign_out_path, method: :delete do
                      submit 'Log out', class: 'btn btn-link navbar-logout-btn'
                    end
                  %>
                </li>
              <% else %>
                <li>
                  <%= link_to "Sign in", routes.user_sign_in_path, class: 'navbar-link' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

      <div class="home-banner-body">
        <h1 class="title">Looking for a place to stay at with friends for holidays?</h1>
        <div class="explanation">
          <p class="subtitle">
            <strong>Finding the perfect housing is always a pain in the ass.</strong><br/>
            Switching between Airbnb, Booking.com and so many other services.<br/>
            Keeping track of all the data and getting everyone up to speed.
          </p>
          <p class="prompt">Guess what? We have THE solution! 🤓</p>
        </div>
        <%= link_to "Start planning! 🙌", routes.new_trip_path, class: "btn cta home-banner-cta" %>
        <div class="home-banner-footer">
          <%= image "trip-screenshot.jpg", class: "trip-screenshot"%>
        </div>
      </div>

    </div>

    <div class="home-stats">
      <p><strong><%= total_trips_count %> trips</strong> got organized thanks to <strong>HOUSINGLIST</strong> 💪</p>
    </div>

    <div class="home-featurettes">
      <ul class="list-unstyled featurettes-list">
        <li class="featurette">
          <p class="featurette-icon">🔎</p>
          <h4 class="featurette-title">Find housings together</h4>
          <p class="featurette-description">Create a trip and add housings you're interested in, by simply providing Airbnb links.</p>
        </li>
        <li class="featurette">
          <p class="featurette-icon">📢</p>
          <h4 class="featurette-title">Share your booking progress</h4>
          <p class="featurette-description">Your friends and you now have an overview on the interesting housings at any time. No more messing around.</p>
        </li>
        <li class="featurette">
          <p class="featurette-icon">📊</p>
          <h4 class="featurette-title">Keep track of everything</h4>
          <p class="featurette-description">Access your trip's dashboard, with statistics on housings. No more calculations on your side.</p>
        </li>
      </ul>
    </div>
    <%= render partial: "layouts/footer" %>
    <%= javascript 'jquery-3.2.1.min' %>
    <%= javascript 'bootstrap.min' %>
  </body>
</html>
