<html>
  <head>
    <%= render partial: "layouts/head" %>
  </head>
  <body>
    <div class="home-banner">
      <%= render partial: "layouts/navbar" %>

      <div class="home-banner-body">
        <h1 class="title">Looking for a place to stay at with friends for holidays?</h1>
        <div class="explanation">
          <p class="subtitle">
            <strong>Finding the perfect housing is always a pain in the ass.</strong><br/>
            Switching between Airbnb, Booking.com and so many other services.<br/>
            Keeping track of all the data and getting everyone up to speed.
          </p>
          <p class="prompt">Guess what? We have THE solution! 🤓</p>
        </div>
        <%= link_to "Start planning! 🙌", routes.new_trip_path, class: "btn cta home-banner-cta" %>
        <div class="home-banner-footer">
          <%= image "trip-screenshot.jpg", class: "trip-screenshot"%>
        </div>
      </div>

    </div>

    <div class="home-stats">
      <p><strong><%= total_trips_count %> trips</strong> got organized thanks to <strong>HOUSINGLIST</strong> 💪</p>
    </div>

    <div class="home-featurettes">
      <ul class="list-unstyled featurettes-list">
        <li class="featurette">
          <p class="featurette-icon">🔎</p>
          <h4 class="featurette-title">Find housings together</h4>
          <p class="featurette-description">Create a trip and add housings you're interested in, by simply providing Airbnb links.</p>
        </li>
        <li class="featurette">
          <p class="featurette-icon">📢</p>
          <h4 class="featurette-title">Share your booking progress</h4>
          <p class="featurette-description">Your friends and you now have an overview on the interesting housings at any time. No more messing around.</p>
        </li>
        <li class="featurette">
          <p class="featurette-icon">📊</p>
          <h4 class="featurette-title">Keep track of everything</h4>
          <p class="featurette-description">Access your trip's dashboard, with statistics on housings. No more calculations on your side.</p>
        </li>
      </ul>
    </div>

    <div class="home-supported-providers">
      <h4>At the moment, we are supporting <%= supported_providers.count %> housing providers</h4>
      <% supported_providers.each do |supported_provider| %>
        <%= image("#{supported_provider}.svg", class: "supported-provider-picture") %>
      <% end %>
      <p><a href="mailto:hi@housing-list.com?subject=I'd love for a new provider to be supported by you guys at HousingList 😬">Shoot us an email</a> if you'd love for another one to be supported!</p>
    </div>
    <%= render partial: "layouts/footer" %>
    <%= javascript 'jquery-3.2.1.min' %>
    <%= javascript 'bootstrap.min' %>
  </body>
</html>
