<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/head" %>
  </head>
  <body>
    <%= render partial: 'layouts/navbar' %>
    <%= yield %>
    <%= javascript 'jquery-3.2.1.min' %>
    <%= javascript 'bootstrap' %>
    <%= local :after_js %>
  </body>
</html>
