<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-2">
      <h1>Style Guide</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-2 style-guide--sidebar">
      <ul class="list-unstyled">
        <li><%= link_to "Frameworks", "#frameworks" %></li>
        <li><%= link_to "Typography", "#typography" %></li>
        <li>
          <strong>Base</strong>
          <ul class="list-unstyled">
            <li><%= link_to "Colors", "#colors" %></li>
            <li><%= link_to "Buttons", "#buttons" %></li>
            <li><%= link_to "Labels", "#labels" %></li>
          </ul>
        </li>
        <li>
          <strong>Components</strong>
          <ul class="list-unstyled">
            <li><strong>>> TODO <<</strong></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-10">
      <div id="frameworks" class="style-guide--entry">
        <h2>Frameworks</h2>
        <div class="style-guide--subentry">
          <p>
            This website is based on <%= link_to "Bootstrap", "http://getbootstrap.com/" %> framework.
            We use their <strong>grid system</strong>, typography, buttons, forms and so on.
            Please refer to their documentation for anything that is not specified in this guide.
          </p>
          <p>
            It's also based on <%= link_to "Font Awesome icons", "http://fontawesome.io/icons/" %>.
          </p>
        </div>
      </div>
      <div id="typography" class="style-guide--entry">
        <h2>Typography</h2>
        <div class="style-guide--subentry">
          <p>We use several fonts for different purposes:</p>
          <ul>
            <li><%= base_font %> for <strong>forms</strong></li>
            <li><%= header_font %> for <strong>headers</strong></li>
            <li><%= base_font %> for any other <strong>text</strong></li>
          </ul>
        </div>
        <div class="style-guide--subentry">
          <h3 id="headers">Headers</h3>
          <p>We use <%= header_font %> font for headers. We've defined up to 6 levels but we mainly use only the first 3 ones.</p>
          <div class="style-guide--headers">
            <h1 class="style-guide--header">Heading Level 1</h1>
            <h2 class="style-guide--header">Heading Level 2</h2>
            <h3 class="style-guide--header">Heading Level 3</h3>
            <h4 class="style-guide--header">Heading Level 4</h4>
            <h5 class="style-guide--header">Heading Level 5</h5>
            <h6 class="style-guide--header">Heading Level 6</h6>
          </div>
        </div>
        <div class="style-guide--subentry">
          <h3 id="text">Text</h3>
          <p>We use <%= base_font %> font for any other text such as paragraphs, lists and so on.</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <ul>
                <li>Unordered list</li>
                <li>With bullets</li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-6">
              <ul class="list-unstyled">
                <li>Unordered list</li>
                <li>Without bullets</li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-6">
              <ol>
                <li>Ordered list</li>
                <li>With numbers then</li>
              </ol>
            </div>
            <div class="col-xs-12 col-md-6">
              <dl>
                <dt>Definition list</dt>
                <dd>With a description</dd>
              </dl>
            </div>
            <div class="col-xs-12 col-md-6">
              <ul class="list-inline">
                <li>Inlined list</li>
                <li>Without bullets</li>
              </ul>
            </div>
          </div>
          <blockquote>
            <p>[Blockquote] The point of the journey is not to arrive.</p>
            <cite> Steven Frischling</cite>
          </blockquote>
        </div>
        <div class="style-guide--subentry">
          <h3 id="forms">Forms</h3>
          <p>We use <%= base_font %> font for forms.</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <form>
                <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" class="form-control" id="first_name" placeholder="Bob">
                </div>
                <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input type="text" class="form-control" id="last_name" placeholder="Dylan">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="base" class="style-guide--entry">
        <h2>Base</h2>
        <div id="colors" class="style-guide--subentry">
          <h3>Colors</h3>
          <div class="row style-guide--colors">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="color green"></div>
                <div class="caption">
                  <ul class="list-unstyled">
                    <li>$green</li>
                    <li>$brand-primary</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="color blue"></div>
                <div class="caption">
                  <ul class="list-unstyled">
                    <li>$blue</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="color airbnb-color"></div>
                <div class="caption">
                  <ul class="list-unstyled">
                    <li>$airbnb-color</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="color booking-color"></div>
                <div class="caption">
                  <ul class="list-unstyled">
                    <li>$booking-color</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="color black"></div>
                <div class="caption">
                  <ul class="list-unstyled">
                    <li>$black</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="color white"></div>
                <div class="caption">
                  <ul class="list-unstyled">
                    <li>$white</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="buttons" class="style-guide--subentry">
          <h3>Buttons</h3>
          <div class="style-guide--buttons">
            <ul class="list-inline">
              <li><button type="button" class="btn btn-default">Default</button></li>
              <li><button type="button" class="btn btn-primary">Primary</button></li>
              <li><button type="button" class="btn btn-success">Success</button></li>
              <li><button type="button" class="btn btn-info">Info</button></li>
              <li><button type="button" class="btn btn-warning">Warning</button></li>
              <li><button type="button" class="btn btn-danger">Danger</button></li>
              <li><button type="button" class="btn btn-link">Link</button></li>
            </ul>
          </div>
        </div>
        <div id="labels" class="style-guide--subentry">
          <h3>Labels</h3>
          <div class="style-guide--labels">
            <ul class="list-inline">
              <li><span class="label label-default">Default</span></li>
              <li><span class="label label-primary">Primary</span></li>
              <li><span class="label label-success">Success</span></li>
              <li><span class="label label-info">Info</span></li>
              <li><span class="label label-warning">Warning</span></li>
              <li><span class="label label-danger">Danger</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="components" class="style-guide--entry">
        <h2>Components</h2>
        <div id="component_name" class="style-guide--subentry">
          <h3>New component</h3>
          <div class="style-guide--badges">
            <strong>>> TODO <<</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
