<div class="housing-card">
  <div class="picture">
    <%= image 'housing-picture.jpg' %>
  </div>
  <div class="details">
    <div class="description">
      <h2 class="title"><%= housing.title %></h2>
      <p><%= truncate(housing.description, 200, separator: ' ') %></p>
      <%= link_to "See on #{housing.provider.capitalize}", housing.url, target: "_blank" %>
    </div>
    <div class="proposer">
      <%= image 'housing-proposer.jpg', class: 'proposer-picture' %>
      <div class="proposer-details">
        <span class='proposer-name'><%= housing.user.first_name %></span>
        <span class='proposal-date'>on <%= format_date(housing.created_at.to_date) %></span>
      </div>
    </div>
  </div>
  <div class="price">
    <span>
      <i class="fa fa-user" aria-hidden=true></i>
      <%= housing_total_price_per_person(trip, housing) %> €
    </span>
  </div>
</div>
