<div class="housing-card" data-id="<%= housing.id %>">
  <div class="picture">
    <%= image housing.picture %>
  </div>
  <div class="price">
    <span>
      <i class="fa fa-user" aria-hidden=true></i>
      <%= housing.total_price_per_person(trip.travelers_count) %> €
    </span>
  </div>
  <div class="details">
    <div class="description">
      <h2 class="title"><%= housing.title %></h2>
      <p><%= truncate(housing.description, 135, separator: ' ') %></p>
      <%= link_to "See on #{housing.provider.capitalize}", housing.url, target: "_blank", rel: "noopener" %>
    </div>
    <div class="proposer">
      <img src="<%= housing.proposer_avatar_url %>" alt="<%= housing.user.first_name %>" class=" proposer-picture" width=60>
      <div class="proposer-details">
        <span class='proposer-name'><%= housing.user.first_name %></span>
        <span class='proposal-date'>on <%= format_date(housing.created_at.to_date) %></span>
      </div>
    </div>
  </div>

  <% if authorization.like? %>
    <%=
      form_for :like, routes.trip_housing_like_path(trip.id, housing.id) do
        div(class: 'like-action') do
          label("submit-#{housing.id}") do
            text(housing.likes_count)
            i(class: "fa fa-heart-o", 'aria-hidden' => true)
          end
        end
        submit(class: 'hidden', id: "like-submit-#{housing.id}")
      end
    %>
  <% elsif authorization.unlike? %>
    <%=
      form_for :like, routes.trip_housing_like_path(trip.id, housing.id), method: :delete do
        div(class: 'like-action') do
          label("submit-#{housing.id}") do
            text(housing.likes_count)
            i(class: "fa fa-heart", 'aria-hidden' => true)
          end
        end
        submit(class: 'hidden', id: "like-submit-#{housing.id}")
      end
    %>
  <% end %>

  <div class="actions">
    <% if authorization.edit? %>
      <%=
        link_to routes.edit_trip_housing_path(trip.id, housing.id), title: 'edit', class: 'btn btn-circle' do
          i(class: "fa fa-pencil", 'aria-hidden' => true)
        end
      %>
    <% end %>
    <% if authorization.dismiss? %>
      <%=
        form_for :housing, routes.dismiss_trip_housing_path(trip.id, housing.id), method: :delete, id: "js-housing-dismiss-form-#{housing.id}" do
          div do
            link_to '#', title: 'dismiss', class: 'btn-circle js-housing-dismiss-link', 'data-target' => "js-housing-dismiss-form-#{housing.id}" do
              i(class: "fa fa-times", 'aria-hidden' => true)
            end
          end
        end
      %>
    <% end %>
  </div>
</div>
